<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rt.epochedu.watchdog"
      android:versionCode="3"
      android:versionName="1.2">
    <supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"
    />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-sdk 
        android:minSdkVersion="15" 
        android:targetSdkVersion="16" />
    <application android:label="@string/app_name"
                 android:clearTaskOnLaunch="false"
                 android:stateNotNeeded="false"
                 android:icon="@drawable/ic_launcher">
        <activity android:name="EpochWatchdogActivity"
                  android:launchMode="singleTask"
                  android:excludeFromRecents="true"
                  android:screenOrientation="unspecified"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />+
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
