h1 {
    font-size: 2.3em;
    margin: 0;
    padding: 5px 25px;
}

.userscroll {
	clear:both;
	height:240px;
	overflow:hidden;
	padding:0px;
}

#chatmsg {
	background:#FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	margin:0px 0px 10px 0px;
	overflow:hidden;
	height:200px;
}


#users {
	float:right;
	width:25%;
}

.max-width {
	max-width: 1180;
	position: relative;
	margin: 0 auto;
}

#sideNav {
	background: #4A4D4E;
	position: absolute;
	width:200px;
	z-index: 2;
	left: 0;
	margin: 50px 0 0 0;
	padding: 0px 0 0 0;
	top: 20px;
}

#sideNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sideNav li a {
	color: #F0F1F1;
	display: block;
	height: 46px;
	font-size: 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 0 0 20px;
	text-decoration: none;
}

#xcontrols li {
    border-bottom: 1px solid #E0E0E0;
}

.mediabank {
	padding: 0px 20px 0px 20px;
	/*
	width: 980px;
    height: 38px;
    margin-top:100px;
    */
}

.mediabank ul {
	list-style: none;
	margin: 0 0 0 -10px; 
	overflow: hidden;
	padding: 0;
}

.mediabank li {
	background: #eee;
	border-radius: 3px;
	float: left;
	margin: 0 0 10px 10px;
	width: 6em;
	padding: 18px;
	text-align: center;
	/* border: 2px solid gray; */
} .mediabank li:hover { background: silver; }
                    .mediabank li a {
                        text-transform: uppercase;
                        color: white;
                        padding: 13px 33px;
                        line-height: 38px;
                        font-size: 11px;
                    }	/* Second layer of Drop Up Menus */
                        .mediabank li a:hover { text-decoration: none; }
                        .mediabank li ul {
                            position: absolute;
                            display:none;
                            z-index: 1000;
                            min-width: 100%;
                            left:-1px;
                        }
                        .mediabank li:hover ul {
                            bottom:20px;
                            display:block;
                            background:#eee;
                            margin-bottom: 78px;
                        }
                            .mediabank li ul li {
                                background: none;
                                border: 2px solid gray;
                                margin: 0 0 0px 0px;
								padding: 5px;
                                width: 100%;
                            }
                                .mediabank li ul li:hover {
                                    background: none;
                                    background-color: #2a51b5;
                                }
                                .mediabank li ul li a {
                                    text-transform: uppercase;
                                    color: white;
                                    padding: 8px 10px;
                                    line-height: 28px;
                                	width: 100%;
                                }
#content {
    clear: both;
    left: 200px;
    padding: 50px 25px 0;
    position: absolute;
    top: 20px;
    width: 72%;
}

#bottom {
	/* overflow: hidden; */
	height: 100px;
	background: gray;
	margin: 0 0 0 0;
	bottom: 0px;
	position: fixed;
	width: 100%;
	padding: 0 0 0 0;
}