h1 {
    font-size: 2.3em;
    margin: 0;
    padding: 5px 25px;
}

.userscroll {
	clear:both;
	height:240px;
	overflow:hidden;
	padding:0px;
}

#chatmsg {
	background:#FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	margin:0px 0px 10px 0px;
	overflow:hidden;
	height:200px;
}


#users {
	float:right;
	width:25%;
}

.max-width {
	max-width: 1180;
	position: relative;
	margin: 0 auto;
}

#sideNav {
	background: #4A4D4E;
	position: absolute;
	width:200px;
	z-index: 2;
	left: 0;
	margin: 50px 0 0 0;
	padding: 0px 0 0 0;
	top: 20px;
}

#sideNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sideNav li a {
	color: #F0F1F1;
	display: block;
	height: 46px;
	font-size: 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 0 0 20px;
	text-decoration: none;
}

#xcontrols li {
    border-bottom: 1px solid #E0E0E0;
}

.mediabank {
	padding: 0px 20px 0px 20px;
}

.mediabank ul {
	list-style: none;
	margin: 0 0 0 -10px; 
	overflow: hidden;
	padding: 0;
}

.mediabank li {
	background: #eee;
	border-radius: 3px;
	float: left;
	margin: 0 0 10px 10px;
	width: 6em;
	padding: 18px;
	text-align: center;
}

#content {
    clear: both;
    left: 200px;
    padding: 50px 25px 0;
    position: absolute;
    top: 20px;
    width: 72%;
}

#bottom {
	/* overflow: hidden; */
	height: 100px;
	background: gray;
	margin: 0 0 0 0;
	bottom: 0px;
	position: fixed;
	width: 100%;
	padding: 0 0 0 0;
}