{%set name teacher %}
{%set args channel, roomcl %}
{%extends 'boilerplate2' %}
{%block 'title' %}Teachers: Welcome to class: {%= channel %}{%/block %}
{%block 'css-styles' %}
	<link type="text/css" rel="stylesheet" href="/static/fonts/stylesheet.css">
    <link type="text/css" rel="stylesheet" href="/static/css/topcoat-mobile-dark.css">
	<link type="text/css" rel="stylesheet" href="/static/css/teacher-v3.css" media="all">
	<link type="text/css" rel="stylesheet" href="/static/css/teacher-v4.css" media="all">
	<link type='text/css' rel='stylesheet' href='/static/css/icomatic.css' media="all">
	<link type="text/css" rel="stylesheet" href="/static/css/ninjaui.css?v=0.9.9.9" media="all">
	<link type="text/css" rel="stylesheet" href="/static/css/jquery.gritter.css" media="all">
	<link type="text/css" rel="stylesheet" href="/static/css/colorbox.css" media="all">
{%/block %}
{%block 'head' %}
	
{%/block %}

{%block 'container' %}
	<!-- page -->
	<div id="page" class="max-width">
		<!-- header -->
		<div id="header">
			<div id="branding">
				<h1>Classroom: {%= channel %}</h1>
			</div>
			<div id="session">
				<div id="timer"></div>
				<!--
				<div id='sessioncontrols'>
					<span id='stopsessionbtn'></span><br/ ><span id='startsessionbtn'></span><br /><span id='resetsessionbtn'></span>
				</div>
				-->
				<!-- <a class="start" href="#">Start Session</a> -->
			</div>
			<!--
			<div id="mcp">
				<div id='mcpcontrols'><span id='stopmcpbtn'></span><span id='startmcpbtn'></span><span id='startepochsmile'></span><span id='openiqmanager'></span></div>
			</div>
			-->
			<div id="account">
				<p>Hello, <span id="nickname"></span><a class="logout jqModal" href="javascript:void(0);" onclick="doLogout(); return false;">Logout</a></p>
			</div>
			
			<div id="toolbar">
				<!--
				<span id="home"></span><span id="monitor"></span><br/>
				-->
		        <ul id="status">
		          <li><a id="usersLink" href="#">5 users</a></li>
		          <li>uptime: <span id="uptime">?</span></li>
		          <li>memory: <span id="rss">?</span>mb RSS</li>
		        </ul>
		    </div>
		</div>
		<!-- end header -->
		<!-- sideNav -->
		<div id="sideNav">
			<nav id="xcontrols">
	            <ul>
	              <li><span id='stopsessionbtn'></span></li>
	              <li class="selected"><span id='startsessionbtn'></span></li>
	              <li><span id='resetsessionbtn'></span></li>
	              <li><span id='stopmcpbtn'></span></li>
	              <li><span id='startmcpbtn'></span></li>
	              <li><span id="home"></span></li>
	              <li><span id="monitor"></span></li>
	            </ul>
          </nav>
		</div>
		<!-- end sideNav -->

		<!-- content -->
		<div id="content">
			<div id="chat" class="module">
				<form id="chatwindow">
					<div id="chatmsg">
						<div class="chathistory">
							<div class="chatscroll">
								{*
								<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
								<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
								<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
								<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
								*}
							</div>
						</div>
					</div>
					<div class="chatgui">
						<input id="entry" type="text" class="cinput"/>
						<input type="image" src="/static/images/submit.png" class="csubmit"/>
					</div>
				</form>
			</div>
			<div id="users" class="module">
				<div class="mwrapper">
					<div class="userhistory">
						<div class="userscroll">
							<ul id="userstatus">
								{*
								<li class="online">Brian Langer</li>
								<li class="offline">Collin Campbell</li>
								<li class="online">Kristi Rooney</li>
								<li class="online">Ryan Leising</li>
								<li class="online">Amanada Maness</li>
								<li class="online">Mitch Lowry</li>
								<li class="offline">Judd Whalen</li>
								*}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end content -->
 	<div id="bottom">
		
		<!-- media -->
		<div id="media">
			<form>
				<div class="mediabank">
					<ul>
						<li id='Audio'>
							<div class='icomatic icon' style='font-size: 28px; color: #3399FF'>audio</div>
	        				<div class='icon-label'>Audio</div>
	        				<ul>
	        				</ul>
						</li>
						<li id='Video'>
							<div class='icomatic icon' style='font-size: 28px; color: #3399FF'>videocamera</div>
	        				<div class='icon-label'>Video</div>
	        				<ul>
	        				</ul>
						</li>
						<li id='Photos'>
							<div class='icomatic icon' style='font-size: 28px; color: #3399FF'>image</div>
	        				<div class='icon-label'>Photos</div>
	        				<ul>
	        				</ul>
						</li>
					    <li id='Slides'>
							<div class='icomatic icon' style='font-size: 28px; color: #3399FF'>computer</div>
	        				<div class='icon-label'>Slides</div>
	        				<ul>
	        				</ul>
						</li>
						<li id='Docs'>
							<div class='icomatic icon' style='font-size: 28px; color: #3399FF'>page</div>
	        				<div class='icon-label'>Docs</div>
	        				<ul>
	        				</ul>
						</li>
						<li id='Apps'>
							<div class='icomatic icon' style='font-size: 28px; color: #3399FF'>tileview</div>
	        				<div class='icon-label'>Apps</div>
	        				<ul>
	        				</ul>
	        				{*
	        				<ul>
	        					<li>Foo</li>
	        					<li>Bar</li>
	        					<li>Zed</li>
	        					<li>Gamma</li>
	        				</ul>
	        				*}
						</li>
					</ul>
				</div>
			</form>
		</div>
		<!-- end media -->
		<!-- media control -->
		<!-- 
		<div id="mediacontrol">
			<span id="send"></span><span id="end"></span><span id="preview"></span><span id="sync-btn"></span>
		</div>
		-->
		<!-- end media control -->
		
		<!-- footer -->
		<div id="footer">
			<p class="left">Hardware powered by Marvell</p>
			<p class="right">&copy 2011-2012, 2014 Razortooth Communications, LLC</p>
		</div>
		<!-- end footer -->
	  </div>
	</div>
	<!-- end page -->
	{*
		XXX TEMPLATE THIS SNIPPET
	*}
	<div class="jqmWindow" id="dialog">
		<div class="modalmsg">
			<div class="modaltxt">
				<h3>Welcome to the EpochEDU - Classroom-in-a-box.</h3>
				<p>This is the teacher’s demonstration device.<br />Please touch the “Login Now” to login to the teacher’s control panel. <div class='icomatic icon' style="font-size: 21px; color: rgb(69, 69, 69);">user</div></p>
			</div>
			<div class="modalbranding">
				
			</div>
		</div>
		<form id="loginform">
			<div class="modalrow">
				<label>Username:</label>
				<input id="nickInput" type="text" class="modalform"/>
			</div>
			<div class="modalrow">
				<label>Password:</label>
				<input type="text" class="modalform"/>
			</div>
			<div class="modalrow">
				<input id="connectButton" type="image" src="/static/images/login-btn.png" class="login"/>
			</div>
			<span class="modalrow" id="status"></span>
		</form>
	</div>
	<div class="jqmWindow2" id="monitorLaunchDialog">
		<div class="modalmsg">
			<div class="modaltxt">
				<h3>Screen Monitor Setup</h3>
				<p>The Screen Monitor feature allows the teacher to watch the screens of students in-session. <!-- <br />Please input the number of seconds to pause between each screen before displaying the next screen.<br /> Note: All students must be running MCPService and the screen capture service to enable this feature.</p> -->
			</div>
			<!-- <div class="modalbranding">	
			</div> -->
		</div>
		<form id="monitorLaunchForm">
			<div class="modalrow">
				<label>Interval (Sec):</label>
				<input id="monitorIntervalInput" type="number" class="modalform" />
			</div>
			<div class="modalrow">
				<input id="launchMonitorButton" onclick="return false;" type="image" src="/static/images/graylaunchbutton.png" class="genericModalOKButton" />
			</div>
			<span class="modalrow" id="status"></span>
		</form>
	</div>

	<div class="jqmWindow2" id="mediaDialog">
		<div class="modalmsg">
			<div class="modaltxt">
				<h3>Media Controls</h3>
				<p>Send content to the students or preview using the buttons below.  Click anywhere outside to dismiss the window</p>
			</div>
		</div>
		<p>Selected: <span class="modalrow" id="mediafqname"></span>
		<div class="modalrow">
			<span class="send2"></span><span class="end2"></span><span class="preview2"></span><span class="sync-btn2"></span>
		</div>
	</div>
{%/block %}

{%block 'body-scripts' %}
	<script src="/static/js/jquery.gritter.min.js"></script>
	<script src="/static/js/jquery.ninjaui.min.js?v=0.9.9.9"></script>
	<script type="text/javascript" src="/static/js/jquery.stopwatch.js"></script>
	<script type="text/javascript" src="/static/js/jScrollPane.js"></script>
	<script type="text/javascript" src="/static/js/jqModal.js"></script>
	<script type="text/javascript" src="/static/js/jcarousel.js"></script>
	<script type="text/javascript" src="/static/js/jquery.colorbox-min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/shadowbox-3.0.3/shadowbox.css">
	<script type="text/javascript" src="/static/js/shadowbox-3.0.3/shadowbox.js"></script>
	<script type="text/javascript">
		Shadowbox.init({
		    handleOversize: "drag",
			overlayColor: "#330099",
			overlayOpacity: "0.75",
		    modal: false,
			displayNav:         true,
			handleUnsupported:  "link",
			autoplayMovies:     true,
		});
	</script>
	<script type="text/javascript">
		var contents = {%= roomcl %};
		var listitemdata = '';
		var contentitems = {};
		var mediaurl = null;

		//
		// XXX Refactor to epoch-client.js
		//
		function getContentType(type) {
			if (type === 'docx' || type === 'txt' || type === 'pdf' || type === 'xlsx') {
				return 'Docs';
			} else if (type === 'jpg' || type === 'png') {
				return 'Photos';
			} else if (type === 'mov' || type === 'mp4' || type === 'threegp') {
				return 'Video';	
			} else if (type === 'mp3') {
				return 'Audio';	
			} else if (type === 'ppt') {
				return 'Slides';
			} else if (type === 'apk') {
				return 'Apps';	
			} else {
				return 'Unknown';	
			}
		}

		$.each(contents, function(i, content) {
			var mime, fqname, filename, itemi, mediaobj, contentType;
			
			itemi = 'item' + (i+1);
			fqname = contents[i].substring(contents[i].lastIndexOf('/') + 1); // XXX Escape me		
			mime = fqname.split('.')[1].toLowerCase();
			// Handle any special cases for mime types
			if (mime == '3gp') {
				mime = mime.replace('3', 'three');
			}
			filename = fqname.split('.')[0];
			mediaobj = {};
			mediaobj['mime'] = mime;
			mediaobj['fqname'] = fqname;
			mediaobj['filename'] = filename;
			mediaobj['itemi'] = itemi;
			mediaobj['url'] = content;
			
			contentType = getContentType(mime);

			if (!contentitems[contentType]) {
				contentitems[contentType] = [];
			}
			contentitems[contentType].push(mediaobj);

			// Add to media
			// $('.mediabank > ul > li.' + contentType + ' > ul').append('<li>' + fqname + '</li>');
			// var $contentul = $('.mediabank > ul > li#' + contentType).children().first();
			var $contentul = $('.mediabank > ul > li#' + contentType).find('ul');
			if ($contentul) {
				$contentul.append('<li id="' + content + '">' + fqname + '</li>');
			}
		});
		// console.log(contentitems);
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.chatscroll').jScrollPane({
				showArrows:true,
				scrollbarWidth:30,
				maintainPosition: false,
				animateTo: true,
			});
			$('.userscroll').jScrollPane({showArrows:true,scrollbarWidth:30});

			//
			// If we don't have a valid session cookie with a real logged in user, then show a login
			//
			verifyEpochCookie(isEpochCookieSet());

			$('#monitorLaunchDialog').jqm({modal:false, toTop:true});
			$('#mediaDialog').jqm({modal:false, toTop:true});
			$('#timer').stopwatch();;
			$('#startsessionbtn').ninjaButtonCreate({
			  icon:'bookmark', 
			  onSelect:function(){ 
				$('#timer').startTimer();
			    $('#stopsessionbtn').ninjaButtonEnable();
				
				$(this).ninjaButtonDeselect();
				/*
				$.ajax({
					url: "/send",
					data: {id: CONFIG.id, text: 'startsession', type: 'startsession', channel: getChannel()},
					dataType: "text",
					async:false,
					cache:false,
					success: function(data, textStatus, XMLHttpRequest){
					
					},
					complete: function complete(XMLHttpRequest, textStatus){
						// alert('/send done');
					},
					error: function(e) {
					},
				}); */
				send('startsession', 'startsession');
			  },
			  onDeselect:function() {
				$(this).ninjaButtonDisable();
			  }, 
			  state:'enabled',
			  title:'Start Class' 
			});
			$('#stopsessionbtn').ninjaButtonCreate({
			  icon:'flag', 
			  onSelect:function(){ 
				$('#timer').stopTimer()
				$('#startsessionbtn').ninjaButtonEnable();
				$(this).ninjaButtonDeselect();
				/* $.ajax({
					url: "/send",
					data: {id: CONFIG.id, text: 'endsession', type: 'endsession', channel: getChannel()},
					dataType: "text",
					async:false,
					cache:false,
					success: function(data, textStatus, XMLHttpRequest){
					
					},
					complete: function complete(XMLHttpRequest, textStatus){
						// alert('/send done');
					},
					error: function(e) {
					},
				}); */
				send('endsession', 'endsession');
			  },
			  onDeselect:function() {
				$(this).ninjaButtonDisable();
			  }, 
			  state:'disabled',
			  title:'End Class' 
			});
			$('#resetsessionbtn').ninjaButtonCreate({
			  icon:'refresh', 
			  onSelect:function(){
				$(this).ninjaButtonDeselect();
				send('endsession', 'endsession');
				send('dumpsession', 'dumpsession');
				// XXX This is where we should send APDU #9, to reset
			  },
			  onDeselect:function() {
				$(this).ninjaButtonDisable();
			  }, 
			  state:'enabled',
			  title:'Reset' 
			});
			$('#startmcpbtn').ninjaButtonCreate({
			  icon:'group', 
			  onSelect:function(){ 

			    $('#stopmcpbtn').ninjaButtonEnable();
				
				$(this).ninjaButtonDeselect();
				sendmcprequest("mcpmodestart", "mcpmodestart", 4); // XXX HARDCODED APDU
				// messageDispatcher("mcpmodestart", "#mcpmodestart");
			  },
			  onDeselect:function() {
				$(this).ninjaButtonDisable();
			  }, 
			  state:'enabled',
			  title:'Start MCPMode' 
			});
			$('#stopmcpbtn').ninjaButtonCreate({
			  icon:'group', 
			  onSelect:function(){ 

			    $('#startmcpbtn').ninjaButtonEnable();
				
				$(this).ninjaButtonDeselect();
				sendmcprequest("mcpmodestop", "mcpmodestop", 5); // XXX HARDCODED APDU
				// messageDispatcher("mcpmodestop", "#mcpmodestop");
			  },
			  onDeselect:function() {
				$(this).ninjaButtonDisable();
			  }, 
			  state:'disabled',
			  title:'Stop MCPMode' 
			});
			$('#startepochsmile').ninjaButtonCreate({
			  icon:'bookmark', 
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
				sendmediamsg('http://' + CONFIG.remoteipaddress + ":" + SMILE_STUDENT_WEB_PORT + SMILE_STUDENT_WEB_ENDPOINT, "smile", "We are starting an SMILE Inquiry Session.  Please click to join.")
				// alert("Start The SMILE Teacher App on your Android Tablet");
			  },
			  onDeselect:function() {
				// $(this).ninjaButtonDisable();
			  }, 
			  state:'enabled',
			  title:'Start SMILE' 
			});
			$('#openiqmanager').ninjaButtonCreate({
			  icon:'edit', 
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
				openNewWindow('http://' + CONFIG.remoteipaddress + ":" + SMILE_IQMANAGER_WEB_PORT + SMILE_IQMANAGER_WEB_ENDPOINT);
			  },
			  onDeselect:function() {
				// $(this).ninjaButtonDisable();
			  }, 
			  state:'enabled',
			  title:'Edit SMILE ?s' 
			});

			$('.send2').ninjaButtonCreate({
				  icon:'mail', 
				  onSelect:function(){ 
				  	console.log('send called');
					$(this).ninjaButtonDeselect();
			        var msg = mediaurl;
			        if (!util.isBlank(msg)) send(msg, "universalsend");
					// toggleNinjaButton('#mediacontrol', false);
					$('#mediaDialog').jqmHide();
					// $('#end').ninjaButtonEnable();,
				  },
				  state:'enabled',
				  title:'Send' 
			});

			$('.preview2').ninjaButtonCreate({
				  icon:'video',
				  onSelect:function(){ 
					$(this).ninjaButtonDeselect();
			        var msg = mediaurl;
					// alert('url ' + msg);
			        if (!util.isBlank(msg)) openBestPlayer(msg);			
					$('#mediaDialog').jqmHide();
				  },
				  state:'enabled',
				  title:'Preview' 
			});

			$('.sync-btn2').ninjaButtonCreate({
				  icon:'upload', 
				  onSelect:function(){ 
					$(this).ninjaButtonDeselect();
			        var msg = mediaurl;
			        messageDispatcher("sync", msg);
					$('#mediaDialog').jqmHide();
				  },
				  state:'enabled',
				  title:'Sync' 
			});

			$('.end2').ninjaButtonCreate({
				  icon:'remove', 
				  onSelect:function(){ 
				  	console.log('end2 called');
					$(this).ninjaButtonDeselect();
					var msg = "#endviewer";
					// console.log("Clicked endviewer");
				    send(msg, "endviewer");
					$('#mediaDialog').jqmHide();
				    return false;
				  },
				  state:'enabled',
				  title:'End'
			});

			$(".mediabank > ul > li > ul > li").click(function() {
				// alert("clicked: " + $(this).text());
				var fqname = $(this).text();
				mediaurl = $(this).attr('id');
				$('#mediaDialog').jqmShow();
				$('#mediaDialog').find('#mediafqname').text(fqname);
			});

			//
			// XXX Legacy
			//

			$('#send').ninjaButtonCreate({
			  icon:'mail', 
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
				/* XXX Put this back into epoch-client.js once design is final */
			    $('#resources').find('input:checked').each(
			    function(index) {
			        var msg = this.value;
			        if (!util.isBlank(msg)) send(msg, "universalsend");
			        this.checked = false;	
					toggleNinjaButton('#mediacontrol', false);
					// $('#end').ninjaButtonEnable();
			    }
			    );
			  },
			  state:'disabled',
			  title:'Send' 
			});

			$('#preview').ninjaButtonCreate({
			  icon:'video',
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
				$('#resources').find('input:checked').each(
			    	function(index) {
				        var msg = this.value;
						// alert('url ' + msg);
				        if (!util.isBlank(msg)) openBestPlayer(msg);
				        this.checked = false;
						toggleNinjaButton('#mediacontrol', false);
				    }
				);
			  },
			  state:'disabled',
			  title:'Preview' 
			});
			$('#sync-btn').ninjaButtonCreate({
			  icon:'upload', 
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
				/* XXX Put this back into epoch-client.js once design is final */
				$('#resources').find('input:checked').each(
			    	function(index) {
				        var msg = this.value;
				        messageDispatcher("sync", msg);
				        this.checked = false;
						toggleNinjaButton('#mediacontrol', false);
				    }
			    );
			  },
			  state:'disabled',
			  title:'Sync' 
			});
			$('#end').ninjaButtonCreate({
			  icon:'remove', 
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
				/* XXX Put this back into epoch-client.js once design is final */
				var msg = "#endviewer";
				console.log("Clicked endviewer");
			    send(msg, "endviewer");
				toggleNinjaButton('#mediacontrol', false);
				$('#resources').find('input:checked').each(
			    	function(index) {
						this.checked = false;
					}
				);
			    return false;
			  },
			  state:'disabled',
			  title:'End'
			});
			$('#home').ninjaButtonCreate({
			  icon:'home',
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
			  },
			  title:'Home' 
			});
			$("#home").live("click", function(e) { 
				window.location = '/teacher';
			});
			$('#monitor').ninjaButtonCreate({
			  icon:'arrange', 
			  onSelect:function(){ 
				$(this).ninjaButtonDeselect();
			  },
			  title:'Monitor' 
			});
			$("#monitor").live("click", function(e) {
				$('#monitorLaunchDialog').jqmShow();
				$('#monitorIntervalInput').val(30);
			});
		});
	</script>
	<script type="text/javascript">
		/* XXX Refactor this into epoch-client.js */
		function getChannel() {
			return '{%= channel%}';
		}
		
		function isTeacher() {
			return true;
		}
	</script>
	<script type="text/javascript" src="/static/js/epoch-client.js" ></script>
{%/block %}



