{%set name student %}
{%set args channel %}
{%extends 'boilerplate' %}
{%block 'title' %}{%= channel%}{%/block %}
{%block 'css-styles' %}
	<link type="text/css" rel="stylesheet" href="/static/css/student.css" media="all">
{%/block %}
{%block 'container' %}
<div id="page">
	<div id="chat" class="module">
		<form id="chatwindow">
			<div id="chatmsg">
				<div class="chathistory">
					<div class="chatscroll">
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla u sodales a, feu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Nulla at augue sem.tiam in tincidunt arcu. Nulla at aulla at augue sem.ue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla u sodales a, feu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Nulla at augue sem.tiam in tincidunt arcu. Nulla at aulla at augue sem.ue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla u sodales a, feu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Nulla at augue sem.tiam in tincidunt arcu. Nulla at aulla at augue sem.ue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Etiam in tincidunt arcu. Nulla at augue sem.</div><div class="ts">12:44 am</div></div>
						<div class="msg"><span class="user">Teacher:</span>   <div class="msgcon">Aliquam enim neque, tempor eu sodales a, fermentum et urna.</div><div class="ts">12:44 am</div></div>
					</div>
				</div>
			</div>
			<input type="text" class="cinput"/>
			<input type="image" src="/static/images/submit.png" class="csubmit"/>
		</form>
	</div>
</div>
<!-- end page -->
<div class="jqmWindow" id="dialog">
	<div class="modalmsg">
		<div class="modaltxt">
			<h3>Welcome to the digital classroom demo.</h3>
			<p>This is the student’s demonstration device.<br />Please touch the “Login Now” to login to the student’s control panel.</p>
		</div>
		<div class="modalbranding">
			
		</div>
	</div>
	<form>
		<div class="modalrow">
			<label>Username:</label>
			<input type="text" class="modalform"/>
		</div>
		<div class="modalrow">
			<label>Password:</label>
			<input type="text" class="modalform"/>
		</div>
		<div class="modalrow">
			<input type="image" src="/static/images/login-btn.png" class="login jqmClose"/>
		</div>
	</form>
</div>
{%/block %}
{%block 'body-scripts' %}
	<script type="text/javascript" src="/static/js/jScrollPane.js"></script>
	<script type="text/javascript" src="/static/js/jqModal.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('body').addClass('bg');
			$('.chatscroll').jScrollPane({showArrows:true,scrollbarWidth:30,dragMinHeight:50,dragMaxHeight:100});
			$('#dialog').jqm().jqmShow({autofire:true,modal:true});
			var h = $(window).height();
	        var w = $(window).width();
	        $(".jScrollPaneContainer").css('height',(h < 600) ? 430 : 850).css('width',(h < 600) ? 950 : 530);
			$(".chatscroll").css('width',(h < 600) ? 900 : 480);
			$(".msgcon").css('width',(h < 600) ? 770 : 350);
			$(".bg").css('backgroundImage',(h < 600) ? 'url(/static/images/css/student-bg-h.jpg)' : 'url(/static/images/css/student-bg-v.jpg)').css('width',(h < 600) ? 580 : 300);
			$(".cinput").css('width',(h < 600) ? '87%' : '78%');
			$(window).resize(function(){
			        var h = $(window).height();
			        var w = $(window).width();
			        $(".jScrollPaneContainer").css('height',(h < 600) ? 430 : 850).css('width',(h < 600) ? 950 : 530);
					$(".chatscroll").css('width',(h < 600) ? 900 : 480);
					$(".msgcon").css('width',(h < 600) ? 770 : 350);
					$(".bg").css('backgroundImage',(h < 600) ? 'url(/static/images/css/student-bg-h.jpg)' : 'url(/static/images/css/student-bg-v.jpg)').css('width',(h < 600) ? 580 : 300);
					$(".cinput").css('width',(h < 600) ? '87%' : '78%');
			   });
		});
	</script>
{%/block %}
