% my $channel = $_[0]->{handler}->args->[0];
% my $mxhr = $_[0]->{handler}->request->param('mxhr');
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Epoch EDU Teacher Classroom demo</title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/js/jScrollPane.js"></script>
<!--
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script> -->
% if ($mxhr) {
<script type="text/javascript" src="/static/js/DUI.js"></script>
<script type="text/javascript" src="/static/js/Stream.js"></script>
% } else {
<script type="text/javascript" src="/static/js/jquery.ev.js"></script>
% }
<script type="text/javascript" src="/static/js/jquery.md5.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.oembed.js"></script>
<script type="text/javascript" src="/static/js/pretty.js"></script>
<script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
<script type="text/javascript">
$(function() {
	// this initialises the demo scollpanes on the page.
	$('.chatscroll').jScrollPane({showArrows:true});
});
</script>

<script type="text/javascript">

var cookieName = 'tatsumaki_chat_ident';
var lastTime = new Date();
var regID = 'foo';

$(document).ready(function() { 	
	$(".topMenuAction").click( function() {
		if ($("#openCloseIdentifier").is(":hidden")) {
			$("#slider").animate({ 
				marginLeft: "170px"
				}, 500 );
			$("#topMenuImage").html('<img src="/static/images/online-students.png" alt="online students"/>');
			$("#openCloseIdentifier").show();
		} else {
			$("#slider").animate({ 
				marginLeft: "300px"
				}, 500 );
			$("#topMenuImage").html('<img src="/static/images/online-students.png" alt="online students"/>');
			$("#openCloseIdentifier").hide();
		}
	});
	
  	$('#startsession').bind('click', function() { 
		$('#startsession').fadeOut();
		$.get(
			"/startsession/<%= $channel %>", 
			{ ident: $('#ident').val()},
			function(data) {
				return false;
		});
		$('#endsession').fadeIn();
	}); 

  $('#endsession').bind('click', function() { 
		$('#endsession').fadeOut();
		// Need to kill off the class room session, clear the queue for channel
		$.get(
			"/endsession/<%= $channel %>", 
			{ ident: $('#ident').val()},
			function(data) {
				$('table#messages').children().remove();
				return false;
		});
		$('#startsession').fadeIn();
	});
	
	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active first").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});
	//On Click Event
	$("#sliderContent ul li").click(function() {

		$("#sliderContent ul li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});
	
	$('#chatsubmit').submit(function() {
	  doPost($('#ident'), $('#sendchat'));
	  return false;
	});
	
	$('#regid').submit(function() {
	  alert("registering user");
	  doPost($('#ident'), $('#reg'));
	  return false;
	});
});

function doPost(el1, el) {
  var ident = el1.attr('value');
  if (ident) $.cookie(cookieName, ident, { path: '/class' });
  var text = el.attr('value');
  if (!text) return;
  $.ajax({
    url: "/class/<%= $channel %>/post",
    data: { ident: ident, text: text },
    type: 'post',
    dataType: 'json',
    success: function(r) { }
  });
  el.attr('value', '');
  return;
}


$(function(){
  var onNewEvent = function(e) {
  if ((e.name != null) && (e.name.match(/#killsession/i))) {
		$('table#messages').children().remove();
  } else if ((e.name != null) && (e.name.match(/#startsession/i))) {
		// IGNORE
  } else if ((e.name == null) && (e.html != null) && (e.html.match(/#reg/i))) {
		if (e.ident)
			// Make sure you don't register the teacher
			if (e.ident.split('@')[0].localeCompare($('#ident').attr('value').split('@')[0]) != 0)
				$("#onlinestudents").filter(":not(:contains('" + e.ident.split('@')[0] + "'))").append('<li>' + e.ident.split('@')[0] + '</li>');
				$("#studentStatusList").filter(":not(:contains('" + e.ident.split('@')[0] + "'))").append('<li>' + e.ident.split('@')[0] + '<span class="status">Vestibulum lorem elit</span></li>');
  } else {
	  if (lastTime != e.time) {
		  lastTime = e.time;
   		try {
	      var src    = e.avatar || ("http://www.gravatar.com/avatar/" + $.md5(e.ident || 'foo'));
	      var name   = e.name   || e.ident || 'Anonymous';
	      var avatar = $('<img/>').attr('src', src).attr('alt', name);
	      if (e.ident) {
	        var link = e.ident.match(/https?:/) ? e.ident : 'mailto:' + e.ident;
	        avatar = $('<a/>').attr('href', link).attr('target', '_blank').append(avatar);
	      }
	      avatar = $('<td/>').addClass('avatar').append(avatar);

	      var message = $('<td/>').addClass('chat-message');
	      if (e.text) message.text(e.text);
	      if (e.html) message.html(e.html);
	      message.find('a').oembed(null, { embedMethod: "append", maxWidth: 500 });
	      var name = e.name || (e.ident ? e.ident.split('@')[0] : null);
	      if (name)
	        message.prepend($('<span/>').addClass('name').text(name+ ': '));

	      var date = new Date(e.time * 1000);
	      var meta = $('<td/>').addClass('meta').append(
	        '(' +
	        '<span class="pretty-time" title="' + date.toUTCString() + '">' + date.toDateString() + '</span>' +
	        ' from ' + e.address + ')'
	      );
	      $('.pretty-time', meta).prettyDate();
	      
	$('#messages').prepend($('<tr/>').addClass('message').append(avatar).append(message).append(meta)).parent().jScrollPane({scrollbarWidth:20, scrollbarMargin:10});
	    } catch(e) { if (console) console.log(e) };
	   } else {
		// IGNORE for now
	   }
	}
  }

  if (typeof DUI != 'undefined') {
    var s = new DUI.Stream();
    s.listen('application/json', function(payload) {
      var event = eval('(' + payload + ')');
      onNewEvent(event);
    });
    s.load('/class/<%= $channel %>/mxhrpoll');
  } else {
    $.ev.handlers.message = onNewEvent;
    $.ev.loop('/class/<%= $channel %>/poll?client_id=' + Math.random());
  } 

  if ($.cookie(cookieName))
    $('#ident').attr('value', $.cookie(cookieName));

  window.setInterval(function(){ $(".pretty-time").prettyDate() }, 1000 * 30);
});
</script>
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" media="all"/>
</head>
<body>
	<form id="regid" onsubmit="doPost($('#ident'), $('#reg')); return false">[<EM>Moderated Classroom Session: <%= $channel %><EM>][Your email handle:<input class="required" id="ident" type="text" name="ident" size="24"/>]<input id="reg"type="hidden" name="#reg" value="#reg"/></form><br>
	
	<!-- page -->
	<div id="page">
		
		<!-- chat -->
		<div id="chat">
			<div class="box">
				<div class="header">
					<h2>Chat</h2>
				</div>
				<div class="convos">
					<div id="openCloseIdentifier" style="display: block;"></div>
					<div id="slider" style="margin-top:0px;margin-left:170px;">
						<div id="openCloseWrap">
							<div id="openCloseWrapCon">
								<a id="topMenuImage" class="topMenuAction" href="#" style="margin-right: 7px; float: right;"><img src="/static/images/online-students.png" alt="online students"/></a>
							</div>
						</div>
				        <div id="sliderContent">
							<ul id="onlinestudents">
								<!-- <li><a href="#tab1">John D</a></li> -->
							</ul>
						</div>
					</div>
					<div class="chatbox">
						<div class="tab_container">
							<div id="tab1" class="tab_content">
						        <div class="chathistory">
									<div class="chatscroll">
										<table id="messages">
										</table>
									</div>
								</div>
								<div class="chatsend">
									<form id="chatsubmit" onsubmit="doPost($('#ident'), $('#chatsend')); return false">
										<input id="sendchat" type="text" size="48" />
									</form>
								</div>
						    </div>
							<div id="tab2" class="tab_content">
						       	<div class="chathistory">
									<div class="chatscroll">
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Stacy P:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Stacy P:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Stacy P:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Stacy P:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Stacy P:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										</div>
								</div>
								<div class="chatsend">
									<form>
										<input type="text"/>
									</form>
								</div>
						    </div>
							<div id="tab3" class="tab_content">
						       	<div class="chathistory">
									<div class="chatscroll">
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Mark L:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Mark L:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Mark L:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Mark L:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Mark L:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										</div>
								</div>
								<div class="chatsend">
									<form>
										<input type="text"/>
									</form>
								</div>
						    </div>
							<div id="tab4" class="tab_content">
						       	<div class="chathistory">
									<div class="chatscroll">
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>David K:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>David K:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>David K:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>David K:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>David K:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										</div>
								</div>
								<div class="chatsend">
									<form>
										<input type="text"/>
									</form>
								</div>
						    </div>
							<div id="tab5" class="tab_content">
						       	<div class="chathistory">
									<div class="chatscroll">
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Brian F:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Brian F:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Brian F:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Brian F:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										<p><strong>Teacher:</strong> &nbsp; Etiam in tincidunt arcu. Nulla at augue sem.</p>
										<p><strong>Brian F:</strong> &nbsp; Aliquam enim neque, tempor eu sodales a, fermentum et urna.</p>
										</div>
								</div>
								<div class="chatsend">
									<form>
										<input type="text"/>
									</form>
								</div>
						    </div>
						</div>

						<ul class="tabs">
						    <li><a href="#tab1">ALL</a></li>
							<li><a href="#tab2">Stacy P</a></li>
							<li><a href="#tab3">Mark L</a></li>
							<li><a href="#tab4">David K</a></li>
							<li><a href="#tab5">Brian F</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end chat -->
		
		<!-- lessons -->
		<div id="lessons">
			<div class="box">
				<div class="header">
					<h2>Lessons</h2>
				</div>
				<div id="lessonlist">
					<ul>
						<li>
							<div class="lessonImg">
								<img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/>
							</div>
							<div class="lessonTitle">
								<h3>Tempor eu sodales</h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 08/23/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 55% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>
						<li>
							<div class="lessonImg">
								<img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/>
							</div>
							<div class="lessonTitle">
								<h3>Donec sed ante</h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 08/27/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 75% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>
						<li>
							<div class="lessonImg">
								<img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/>
							</div>
							<div class="lessonTitle">
								<h3>Curabitur tincidunt</h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 06/214/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 45% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>
						<li>
							<div class="lessonImg">
								<img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/>
							</div>
							<div class="lessonTitle">
								<h3>Nunc sodales viverra</h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 07/12/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 65% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>
						<li>
							<div class="lessonImg">
								<img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/>
							</div>
							<div class="lessonTitle">
								<h3>Suspendisse id diam</h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 05/23/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 75% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end lessons -->
		
		<!-- students -->
		<div id="students">
			<div class="box">
				<div class="header">
					<h2>Students</h2>
				</div>
				<div id="studentStatus">
					<ul id="studentStatusList">
						<li>Stacy P: <span class="status">Vestibulum lorem elit</span></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end students -->
		
		<!-- resources --> <!--
		<div id="resources">
			<ul>
				<li>
					<a id="r01" class="pdf" href="#">Vestibulum lorem elit</a>
					<div class="r01tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/pdf.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r02" class="img" href="#">Vestibulum lorem elit</a>
					<div class="r02tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/pdf.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r03" class="pdf" href="#">Vestibulum lorem elit</a>
					<div class="r03tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/pdf.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r04" class="movie" href="#">Vestibulum lorem elit</a>
					<div class="r04tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/movie.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r05" class="wav" href="#">Vestibulum lorem elit</a>
					<div class="r05tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/wav.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r06" class="img" href="#">Vestibulum lorem elit</a>
					<div class="r06tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/img.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r07" class="pdf" href="#">Vestibulum lorem elit</a>
					<div class="r07tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/pdf.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r08" class="movie" href="#">Vestibulum lorem elit</a>
					<div class="r08tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/movie.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r09" class="movie" href="#">Vestibulum lorem elit</a>
					<div class="r09tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/movie.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
				<li>
					<a id="r10" class="wav" href="#">Vestibulum lorem elit</a>
					<div class="r10tip tooltip">
						<div class="tooltiptop"></div>
						<div class="tooltipmiddle">
							<div class="tooltipimg">
								<a href="#"><img alt="PDF" src="/static/images/wav.png"></a>
							</div>
							<div class="tooltipinfo">
								<h3><a href="#">Vestibulum lorem elit</a></h3>
								<p>Donec sed ante ut dolor pharetra congue. Mauris consectetur, felis eget bibendum viverra, diam eros elementum nibh, et scelerisque quam velit gravida ligula.</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tooltipbottom"></div>
					</div>
				</li>
			</ul>
			<script type="text/javascript">
			$(document).ready(function() {
				$("#r01").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r01tip'});
				$("#r02").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r02tip'});
				$("#r03").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r03tip'});
				$("#r04").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r04tip'});
				$("#r05").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r05tip'});
				$("#r06").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r06tip'});
				$("#r07").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r07tip'});
				$("#r08").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r08tip'});
				$("#r09").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r09tip'});
				$("#r10").tooltip({ offset: [0, -10],relative: 'true',effect: 'slide',tipClass: 'r10tip'});
			});
			</script>
		</div>
		-->
		<!-- end resources -->
	</div>
	<div id="footer">Powered by <a href="http://github.com/miyagawa/Tatsumaki">Tatsumaki/<%= $Tatsumaki::VERSION %></a>.  Application design by <a href="http://razortooth.net">Razortooth Communications, LLC</a></div>
	<!-- end page -->
</body>
</html>
