<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>student-lessons</title>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/js/jScrollPane.js"></script>
	<script type="text/javascript">
				$(function() {
					// this initialises the demo scollpanes on the page.
					$('.chatscroll').jScrollPane({showArrows:true});
				});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
				$(".topMenuAction").click( function() {
					if ($("#openCloseIdentifier").is(":hidden")) {
						$("#slider").animate({ 
							marginLeft: "170px"
							}, 500 );
						$("#topMenuImage").html('<img src="/static/images/online-students.png" alt="online students"/>');
						$("#openCloseIdentifier").show();
					} else {
						$("#slider").animate({ 
							marginLeft: "300px"
							}, 500 );
						$("#topMenuImage").html('<img src="/static/images/online-students.png" alt="online students"/>');
						$("#openCloseIdentifier").hide();
					}
				});  
			});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {

			//When page loads...
			$(".tab_content").hide(); //Hide all content
			$("ul.tabs li:first").addClass("active first").show(); //Activate first tab
			$(".tab_content:first").show(); //Show first tab content

			//On Click Event
			$("ul.tabs li").click(function() {

				$("ul.tabs li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".tab_content").hide(); //Hide all tab content

				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});
			//On Click Event
			$("#sliderContent ul li").click(function() {

				$("#sliderContent ul li").removeClass("active"); //Remove any "active" class
				$(this).addClass("active"); //Add "active" class to selected tab
				$(".tab_content").hide(); //Hide all tab content

				var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
				$(activeTab).fadeIn(); //Fade in the active ID content
				return false;
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

		$("#resources a").hover(function() {
		$(this).next("div").stop(true, true).animate({opacity: "show", top: "-150"}, "slow");
		}, function() {
		$(this).next("div").animate({opacity: "hide", top: "-160"}, "fast");
		});

		});
	</script>
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" media="all"/>
</head>
<body>
	<!-- page -->
	<div id="page">
		<div id="teachernav">
			<ul>
				<li>Hello, Student! <a href="#">Logout</a></li>
			</ul>
		</div>
		
		<!-- lessons -->
		<div class="lessons">
			<div class="box">
				<div class="header">
					<h2>Earth Science (ENGLISH DEMO)</h2>
				</div>
				<div class="lessonlist">
					<ul>
						<li>
							<div class="lessonImg">
								<a href="/class/EarthScience"><img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/></a>
							</div>
							<div class="lessonTitle">
								<h3><a href="/class/EarthScience">Earth Sciences </a></h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 08/23/2010</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 55% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Earth science (also known as geoscience, the geosciences or the Earth sciences), is an all-embracing term for the sciences related to the planet Earth.[1] It is arguably a special case in planetary science, the Earth being the only known life-bearing planet. There are both reductionist and holistic  approaches to Earth sciences. The formal discipline of Earth sciences may include the study of the atmosphere, oceans and biosphere, as well as the solid earth. Typically Earth scientists will use tools from physics, chemistry, biology, chronology and mathematics to build a quantitative understanding of how the Earth system works, and how it evolved to its current state.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end lessons -->
		

<!-- lessons -->
		<div class="lessons">
			<div class="box">
				<div class="header">
					<h2>SPANISH DEMO</h2>
				</div>
				<div class="lessonlist">
					<ul>
						<li>
							<div class="lessonImg">
								<a href="/class/SpanishDemo"><img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/></a>
							</div>
							<div class="lessonTitle">
								<h3><a href="/class/SpanishDemo">Spanish Demo</a></h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 08/23/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 55% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>This classroom contains Discovery Education Content in the Spanish language.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end lessons -->		

<!-- lessons -->
		<div class="lessons">
			<div class="box">
				<div class="header">
					<h2>History</h2>
				</div>
				<div class="lessonlist">
					<ul>
						<li>
							<div class="lessonImg">
								<a href="/class/History"><img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/></a>
							</div>
							<div class="lessonTitle">
								<h3><a href="/class/History">World History Ancient times - Present</a></h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 08/23/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 55% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end lessons -->
		
		<!-- lessons -->
		<div class="lessons">
			<div class="box">
				<div class="header">
					<h2>Math</h2>
				</div>
				<div class="lessonlist">
					<ul>
						<li>
							<div class="lessonImg">
								<a href="/class/Math"><img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/></a>
							</div>
							<div class="lessonTitle">
								<h3><a href="/class/Math">Mathematics - Algebra I</a></h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 08/23/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 55% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end lessons -->
		<!-- lessons -->
		<div class="lessons">
			<div class="box">
				<div class="header">
					<h2>Language</h2>
				</div>
				<div class="lessonlist">
					<ul>
						<li>
							<div class="lessonImg">
								<a href="/class/Language"><img src="/static/images/lesson-img-holder.png" alt="lesson-img-holder"/></a>
							</div>
							<div class="lessonTitle">
								<h3><a href="/class/Language">Language - English I</a></h3>
							</div>
							<div class="lessonSession">
								<p>Last Session: 08/23/2009</p>
							</div>
							<div class="lessonProgress">
								<p>Progress: 55% Complete</p>
							</div>
							<div class="lessonDescription">
								<p>Vestibulum lorem elit, ullamcorper sed egestas vitae, bibendum a nibh.</p>
							</div>
						</li>

					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- end lessons -->
	</div>
	<!-- end page -->
</body>
</html>
