{%set name index %}
{%set args userfax,username,usermail %}

{%extends 'base' %}

{%block 'title' %}nTPL Simple demo{%/block %}

{%block 'head' %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/static/css" href="/static/js/shadowbox-3.0.3/shadowbox.css">
<script type="text/javascript" src="/static/js/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
    handleOversize: "drag",
	overlayColor: "#330099",
	overlayOpacity: "0.75",
    modal: true,
	displayNav:         true,
	handleUnsupported:  "link",
	autoplayMovies:     true,
});
</script>
{%
	var shadow = "0 0 4px #333";
	var radius = "30px";
	
	function crossbrowser( attr , val) {
		return [
			"-webkit-" , attr ,  ":" , val , ";",
			"-moz-" , attr ,  ":" , val , ";",
			attr ,  ":" , val , ";"
		].join("");
	}
%}
<style type="text/css">
	#A {
		background: black;
		color: white;
		font-size: 20px;
		margin: 25% auto 0 auto;
		width: 200px;
		
		{%= crossbrowser("border-radius", radius) %}
		
		{%= crossbrowser("box-shadow", shadow) %}
		
		padding: 30px;
		text-align: center;
	}
</style>
{%/block %}

{%block 'content' %}
	{*
		Hi all!
		This is a commented block!
		
		And here comes body of page!
	*}
	<div id="A">
		Hello, {%= username %}!!!<br />
		Your fax number is : {%= userfax %}
	</div>
	<a rel="shadowbox" href="http://localhost:80/~dkords/foo/Challenger_Eplosion.jpg">Challenger</a>
{%/block %}